<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <button type="button" class="btn btn-search"><i class="fa fa-search"></i></button>
</div>